<template lang="html">
  <div class="row">
      <div class="col-md-10 col-md-offset-2">
          <div class="panel panel-default">
              <div class="panel-heading">Categories</div>

              <div class="panel-body">
                  <table style="table-layout:fixed" class="table table-bordered table-condensed">
                    <thead class="thead-inversed">
                      <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="category in categories">
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>
                          <button type='button' class='btn btn-sm btn-warning' @click='fetchCategory(category)'>Edit</button>
                          <div class="modal fade" id="edit-category" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog">
                              <form @submit.prevent="updateCategory" @keydown="formUpdate.errors.clear($event.target.name)">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Edit Category</h4>
                                  </div>
                                  <div class="modal-body">
                                      <div :class="formUpdate.errors.has('name') ? 'form-group  has-error' : 'form-group ' ">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" v-model="formUpdate.name">
                                        <span v-if="formUpdate.errors.has('business_code')" class="error text-danger">{{ formUpdate.errors.get('name') }}</span>
                                      </div>
                                      <div :class="formUpdate.errors.has('description') ? 'form-group  has-error' : 'form-group ' ">
                                        <label>Description:</label>
                                        <textarea rows="8" cols="50" class="form-control" v-model="formUpdate.description"></textarea>
                                        <span v-if="formUpdate.errors.has('business_code')" class="error text-danger">{{ formUpdate.errors.get('description') }}</span>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </td>

                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-body">
                  <form @submit.prevent="submitCategory" @keydown="form.errors.clear($event.target.name)">
                    <div :class="form.errors.has('name') ? 'form-group  has-error' : 'form-group ' ">
                      <label>Name:</label>
                      <input type="text" class="form-control" v-model="form.name">
                      <span v-if="form.errors.has('business_code')" class="error text-danger">{{ form.errors.get('name') }}</span>
                    </div>
                    <div :class="form.errors.has('description') ? 'form-group  has-error' : 'form-group ' ">
                      <label>Description:</label>
                      <textarea rows="8" cols="80" class="form-control" v-model="form.description"></textarea>
                      <span v-if="form.errors.has('business_code')" class="error text-danger">{{ form.errors.get('description') }}</span>
                    </div>
                    <div class="btn-group pull-right">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import Form from '../helper/form.js';
export default {
  data(){
    return{
      paginate: {},
      categories: [],
      form: new Form({
        name: '',
        description: ''
      }),
      formUpdate: new Form({
        id: '',
        name: '',
        description: ''
      }),
    };
  },
  mounted(){
    this.fetchCategories();
  },
  methods: {
    fetchCategories(){
      this.form.get(rootUrl+'/api/categories').then(response => {
        this.paginate = response;
        this.categories = response.data;
      });
    },
    submitCategory(){
      this.form.post(rootUrl+'/api/categories').then(response => {
        this.fetchCategories();
        this.form.sync();
      });
    },
    fetchCategory(category){
      this.formUpdate.id = category.id;
      this.formUpdate.name = category.name;
      this.formUpdate.description = category.description;
      $("#edit-category").modal("show");
    },
    updateCategory(){
      this.formUpdate.patch(rootUrl+'/api/categories/'+this.formUpdate.id).then(response => {
        this.fetchCategories();
        this.formUpdate.sync();
        $("#edit-category").modal("hide");
      });
    }
  }
}
</script>

<style lang="css">
</style>
