posts<template lang="html">
  <div class="row">
      <div class="col-md-10 col-md-offset-2">
          <div class="panel panel-default">
              <div class="panel-heading">Posts</div>

              <div class="panel-body">
                  <table style="table-layout:fixed" class="table table-bordered table-condensed">
                    <thead class="thead-inversed">
                      <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="post in posts">
                        <td>{{ post.id }}</td>
                        <td>{{ post.name }}</td>
                        <td>{{ post.description }}</td>
                        <td>
                          <button type='button' class='btn btn-sm btn-warning' @click='fetchPost(post)'>Edit</button>
                          <div class="modal fade" id="edit-post" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog">
                              <form @submit.prevent="updatePost" @keydown="formUpdate.errors.clear($event.target.name)">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Edit Post</h4>
                                  </div>
                                  <div class="modal-body">
                                      <div :class="formUpdate.errors.has('name') ? 'form-group  has-error' : 'form-group ' ">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" v-model="formUpdate.name">
                                        <span v-if="formUpdate.errors.has('business_code')" class="error text-danger">{{ formUpdate.errors.get('name') }}</span>
                                      </div>
                                      <div :class="formUpdate.errors.has('description') ? 'form-group  has-error' : 'form-group ' ">
                                        <label>Description:</label>
                                        <textarea rows="8" cols="50" class="form-control" v-model="formUpdate.description"></textarea>
                                        <span v-if="formUpdate.errors.has('business_code')" class="error text-danger">{{ formUpdate.errors.get('description') }}</span>
                                      </div>
                                      <div :class="formUpdate.errors.has('category_id') ? 'form-group  has-error' : 'form-group ' ">
                                        <label>Category:</label>
                                        <select class="form-control" v-model="formUpdate.category_id">
                                          <option :value="category.id" v-for="category in categories">{{ category.name }}</option>
                                        </select>
                                        <span v-if="formUpdate.errors.has('category_id')" class="error text-danger">{{ formUpdate.errors.get('category_id') }}</span>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </td>

                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-body">
                  <form @submit.prevent="submitPost" @keydown="form.errors.clear($event.target.name)">
                    <div :class="form.errors.has('name') ? 'form-group  has-error' : 'form-group ' ">
                      <label>Name:</label>
                      <input type="text" class="form-control" v-model="form.name">
                      <span v-if="form.errors.has('name')" class="error text-danger">{{ form.errors.get('name') }}</span>
                    </div>
                    <div :class="form.errors.has('description') ? 'form-group  has-error' : 'form-group ' ">
                      <label>Description:</label>
                      <textarea rows="8" cols="80" class="form-control" v-model="form.description"></textarea>
                      <span v-if="form.errors.has('description')" class="error text-danger">{{ form.errors.get('description') }}</span>
                    </div>
                    <div :class="form.errors.has('category_id') ? 'form-group  has-error' : 'form-group ' ">
                      <label>Category:</label>
                      <select class="form-control" v-model="form.category_id">
                        <option :value="category.id" v-for="category in categories">{{ category.name }}</option>
                      </select>
                      <span v-if="form.errors.has('category_id')" class="error text-danger">{{ form.errors.get('category_id') }}</span>
                    </div>

                    <div class="form-group">
                      <label>Images:</label>
                      <input type="file" v-on:change="onFileChange($event)">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3" v-for="image in form.images">
                            <img :src="image" style="width: 120px; height: 80px;">
                          </div>
                          <!-- <div class="col-md-3">
                            <img src="https://getuikit.com/docs/images/avatar.jpg" style="width: 120px; height: 80px;">
                          </div>
                          <div class="col-md-3">
                            <img src="https://getuikit.com/docs/images/avatar.jpg" style="width: 120px; height: 80px;">
                          </div>
                          <div class="col-md-3">
                            <img src="https://getuikit.com/docs/images/avatar.jpg" style="width: 120px; height: 80px;">
                          </div> -->
                        </div>
                      </div>
                    </div>

                    <div class="btn-group pull-right">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import Form from '../helper/form.js';
export default {
  data(){
    return{
      paginate: {},
      posts: [],
      categories: [],
      form: new Form({
        name: '',
        description: '',
        category_id: '',
        images: []
      }),
      formUpdate: new Form({
        id: '',
        name: '',
        description: '',
        category_id: ''
      }),
    };
  },
  mounted(){
    this.fetchAll();
    this.fetchPosts();
  },
  methods: {
    fetchPosts(){
      this.form.get(rootUrl+'/api/posts').then(response => {
        this.paginate = response;
        this.posts = response.data;
      });
    },
    fetchAll(){
      this.form.get(rootUrl+'/api/posts/create').then(response => {
        this.categories = response.categories;
      });
    },
    submitPost(){
      this.form.post(rootUrl+'/api/posts').then(response => {
        this.fetchPosts();
        this.form.sync();
      });
    },
    fetchPost(post){
      this.formUpdate.id = post.id;
      this.formUpdate.name = post.name;
      this.formUpdate.description = post.description;
      this.formUpdate.category_id = post.category_id;
      $("#edit-post").modal("show");
    },
    updatePost(){
      this.formUpdate.patch(rootUrl+'/api/posts/'+this.formUpdate.id).then(response => {
        this.fetchPosts();
        this.formUpdate.sync();
        $("#edit-post").modal("hide");
      });
    },
    onFileChange(e){
      let files = e.target.files || e.dataTransfer.files;

      if (!files.length) {
        return;
      }
      this.createImage(files[0]);
    },
    createImage(file){
      let image = new Image();
      let reader = new FileReader();
      let vm = this;

      reader.onload = (e) => {
        vm.form.images.push(e.target.result);
      }
      reader.readAsDataURL(file);
    }
  }
}
</script>

<style lang="css">
</style>
